.banner-strip {
  height:10px;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  .banner-strip-col {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .banner-strip-col-red {
    background-color: #A41E22;
  }
  .banner-strip-col-black {
    background-color: $black;
  }
  .banner-strip-col-gold {
    background-color: $gold;
  }
}
.header {
  font-size: 50px;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  .title {
    size: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    font-family: $font-family-heading;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
